@import url('https://fonts.googleapis.com/css2?family=Lalezar');
@import url('https://fonts.googleapis.com/css2?family=Jost');
@import url('https://fonts.googleapis.com/css2?family=Alata');

#headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

.headerSection .search-bar {
    padding-left: 1cm;
    border-radius: 30px;
    border: 2px
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    margin-bottom: 10px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #142045;
    font-weight: normal;
    font-family: 'Jost', sans-serif;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #ffffff;
}

#loginSection {
    display: flex;
    align-items: center;
}

.loginSection .image-container {
    flex: 1;
    padding: 30px;
}

.loginSection .login-container {
    flex: 1;
    padding: 30px;
    justify-content: space-around;
}

.loginSection input::placeholder {
    font-family: 'Jost', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    max-width: 300px;
    margin: auto;
}

input {
    width: 100%;
    padding: 3px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 20px;
}

#loginSection .login {
    color: rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    font-family: Jost;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 20px;
}

button:hover {
    background-color: #ffffff;
}
h1 {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Lalez;
}

#PacePalSection {
    background-color: #142045;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#PacePalSection h1 {
    font-family: 'Lalezar';
    color: #F8921E;
    text-align: center;
    margin-bottom: 0;
    font-size: 2em;
}

#PacePalSection p {
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    font-size: small;
    margin-right: 15px;
}

#PacePalSection button {
    color: #ffffff;
    background-color: #F8921E;
    font-family: Jost;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-right: 90px;
}

#InformationSection .card{
    display: flex;
    justify-content: center;
    flex-wrap: flex;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#InformationSection h1 {
    font-family: Lalezar;
    font-weight: bold;
    font-size: 2em;
    color: #142045;
}

#StoreSection h1 {
    font-family: Lalezar;
    font-weight: bold;
    font-size: 2em;
    color: #142045;
}

#AboutUsSection {
    background-color: #142045;
}

#AboutUsSection h1 {
    font-family: Lalezar;
    font-weight: bold;
    font-size: 50px;
    color: #F8921E;
    text-align: start;
    margin-top: 0px;
}

#AboutUsSection p {
    font-family: Lalezar;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin-left: 25px;
    margin-bottom: 20px;
}