@import url('https://fonts.googleapis.com/css2?family=Lalezar');
@import url('https://fonts.googleapis.com/css2?family=Jost');
@import url('https://fonts.googleapis.com/css2?family=Alata');

#headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

.headerSection .search-bar {
    padding-left: 1cm;
    border-radius: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

li {
    margin-bottom: 10px;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #142045;
    font-weight: normal;
    font-family: 'Jost', sans-serif;
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background-color: #ffffff;
}

#loginSection {
    display: flex;
    max-width: 850px;
    background: #ffffff;
    border-radius: 10px;
}

.login {
    width: 100%;
}

form {
    width: 100%;
    margin: 60px auto;
}

h1 {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Lalez;
}

#PacePalSection {
    background-color: #142045;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#PacePalSection h1 {
    font-family: 'Lalezar';
    color: #F8921E;
    text-align: center;
    margin-bottom: 0;
    font-size: 2em;
}

#PacePalSection p {
    font-family: 'Jost', sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    font-size: small;
    margin-right: 15px;
}

#PacePalSection button {
    color: #ffffff;
    background-color: #F8921E;
    font-family: Jost;
    font-weight: bold;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-right: 90px;
}

#InformationSection h1 {
    font-family: Lalezar;
    font-weight: bold;
    font-size: 2em;
    color: #142045;
}

#StoreSection h1 {
        font-family: Lalezar;
        font-weight: bold;
        font-size: 2em;
        color: #142045;
}